.graficos {
    display: flex;
    flex-direction: row;
    width: 99vw;
    flex-wrap: wrap;
}

.titulo-grafico {
    text-align: center;
}

.inputs {
    margin: 15px;
    align-items: bottom;
    display: flex;
}

.variables {
    flex-grow: 1;
    margin: 15px;
}

.years {
    margin-inline: 15px;
    margin-block: 2px;
}

.range-slider__wrap {
    flex-grow: 1;
}