.graficos {
    display: flex;
    flex-direction: row;
    width: 99vw;
    flex-wrap: wrap;
}

.titulo-grafico {
    text-align: center;
}

.mapDiv {
    display: flex;
    justify-content: center;
}